/**********************************
Alexander López Méndez - UO266499
***********************************/

/* Especificidad: 0 0 2 */
section button {
  width: 50vw;
  height: 2rem;
  justify-self: center;
  margin: 1rem;
}

/* Especificidad: 0 0 2 */
section input {
  width: 70vw;
  justify-self: center;
}
